
@import 'https://fonts.googleapis.com/css?family=Lustria|Raleway:300,400';
@import 'https://fonts.googleapis.com/css?family=Vollkorn';

@import "variables";

.nav-img (@url: "?", @size: 90%) {
    a {
        div {
            background-image: url(@url);
            background-size: @size;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.45;
        }
    }

    transition: all @hover-speed;
    //border-bottom: 5px solid @page-background-color;

    &:hover {
        transition: all @hover-speed;

        a {
            div {
                opacity: 0.85;
            }
        }
    }
}

.nav-img-fixed (@url: "?", @color: @default-color, @size: 90%) {
    a {
        div {
            background-image: url(@url);
            background-size: @size;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.85;
        }
    }
}

.development (@alpha: 0.05) {
    * {
        background-color: rgba(0,0,0,@alpha);
        &:hover {
            background-color: rgba(0,0,0,2*@alpha);
        }
    }
}

.zero-edges {
    margin: 0;
    padding: 0;
}

.full-height {
    height: 100%;
}

html {
    .full-height;
}

body {
    background: @page-background-color;
    min-width: @min-width;
    .full-height;
    .zero-edges;
    //.development;
}

body > div {
    width: @page-width;
    margin: 0px auto;
    padding: 150px 50px 50px;
}

header {
    width: 60%;
    margin: 10% auto;
    color: @page-text-color;

    h1 {
        font-family: @page-serif;
        font-weight: 300;
        font-size: @header-h1-size;
        letter-spacing: 1px;
        margin-bottom: 2%;
        .zero-edges;
    }

    h2 {
        font-family: @page-sans;
        font-size: @header-h2-size;
        font-weight: 400;
        margin: 0px auto;
    }

    h2 + h2 {
        border-top: 2px solid black;
    }

    aside {
        font-family: @page-sans;
        font-size: @header-aside-size;
        color: lighten(@page-text-color, 30%);
        font-weight: 200;
    }
}

nav {
    width: 100%;
    min-width: @min-width;
    .zero-edges;

    ul {
        .zero-edges;
    }

    li {
        display: inline-block;

        a {
            display: block;
            text-decoration: none;
            padding: 15px 30px;
            text-align: center;

            div {
                display: inline-block;
                vertical-align: middle;
                width: 70px;
                height: 70px;
            }
        }

        span {
            visibility: hidden;
            opacity: 0;
            transition: visibility @hover-speed, opacity @hover-speed, transform @hover-speed;
            color: @page-text-color;
            display: block;
            vertical-align: middle;
            font-family: @page-serif;
            font-size: 1.25em;
            line-height: 70px;
            transform: translateY(50%);
        }

        &:hover {
            span {
                visibility: visible;
                opacity: 1;
                transform: translateY(0%);
                transition: visible @hover-speed, opacity @hover-speed, transform @hover-speed;
            }
        }
    }

    .center-large {
        display: block;
        a {
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
            width: 150px;
            height: 150px;
            padding: 5px;
        }
    }

    .blog {

    }
}

/* color src: Twitter Branding */
.twitter {
    .nav-img("../img/twitter@2x.png");
}

.github {
    .nav-img("../img/code@2x.png");
}

.blog {
    .nav-img("../img/blog@2x.png");
}

.home {
    .nav-img("../img/nonelement@2x.png");
}

@media screen and (max-width: 700px) {
    // TODO span nav elements, adjust margins
    @scaling: 0.8;
    header {

        margin: 10% auto 0px auto;

        h1 {
            font-size: @header-h1-size * @scaling;
        }

        h2 {
            font-size: @header-h2-size * @scaling;
        }

        aside {
            font-size: @header-aside-size * @scaling;
        }
    }
}

@media screen and (max-width: 550px) {
    header {
        width: 70%;
        margin: 25% auto 0% auto;
    }

    nav {
        width: 100%;
        height: 10%;
        .zero-edges;

        ul {
            .zero-edges;
        }

        li {
            display: inline-block;
            width: 25%;

            a {
                display: block;
                text-decoration: none;
                padding: 15px 0px;
                width: 100%;
                text-align: center;

                div {
                    display: inline-block;
                    vertical-align: middle;
                    width: 70px;
                    height: 70px;
                }
            }

            span {
                visibility: visible;
                opacity: 1;
                //color: darken(@page-background-color, 10%);
                display: inline-block;
                text-align: center;
                width: 70px;
                vertical-align: middle;
                font-family: @page-serif;
                font-size: 1.25em;
                line-height: 70px;
                transform: none;
            }
        }

        .center-large {
            display: block;
            a {
                display: inline-block;
                vertical-align: middle;
                text-decoration: none;
                width: 150px;
                height: 150px;
                padding: 5px;
            }
        }

        .blog {

        }
    }

    /* color src: Twitter Branding */
    .twitter {
        .nav-img-fixed("../img/twitter@2x.png");
    }

    .github {
        .nav-img-fixed("../img/code@2x.png");
    }

    .blog {
        .nav-img-fixed("../img/blog@2x.png");
    }

    .home {
        .nav-img-fixed("../img/nonelement@2x.png");
    }
}
