@import "variables";

.development (@alpha: 0.05) {
    * {
        background-color: rgba(0, 0, 0, @alpha);
        &:hover {
            background-color: rgba(0, 0, 0, 2 * @alpha);
        }
    }
}

.zero-edges {
    margin: 0;
    padding: 0;
}

.full-height {
    height: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
}

html {
    .full-height;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: @background-color;
  min-width: @min-width;
  .full-height;
  .zero-edges;
  //.development;
}

.centered {
  display: flex;
  flex-flow: column nowrap;
}

header {
  color: @text-color;

  h1, h2, aside, nav {
    .zero-edges;
  }

  h1 {
    font-family: @serif;
    font-size: @h1-size;
    letter-spacing: 1px;
  }

  h2 {
    font-family: @sans;
    font-size: @h2-size;
    font-weight: @sans-weight;
    margin-bottom: @gutter-width;
  }

  aside {
    font-family: @sans;
    font-size: @aside-size;
    color: lighten(@text-color, 30%);
    font-weight: @mono-weight;
    margin-bottom: @gutter-width;
  }
}

nav {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    min-width: @min-width;
    .zero-edges;
    font-family: @sans;

    &.vertical {
    }

    &.horizontal {
      flex-flow: row nowrap;
    }

    div {
      margin: 15px 25px 0 0;
    }

    a {
      &.github, &.twitter, &.blog {
        font-size: @nav-size;
        font-weight: 600;
        color: @nav-color;
        text-decoration: none;
      }

      &:hover {
        border-bottom: 5px solid white;
      }
    }
}

.stripes {
  position: absolute;
  left: -400px;
  top: 70px;
  z-index: -99;

  & > * {
    height: 15px;
    width: 900px
  }

  & > *:nth-child(1) {
    height: 8px;
    background: darken(@bottom-color, 20%);
    transform: rotate(-45deg);
  }

  & > *:nth-child(2) {
    height: 30px;
    background: darken(@bottom-color, 10%);
    transform: translate(15px, 15px) rotate(-45deg);
  }

  & > *:nth-child(3) {
    background: darken(@bottom-color, 0%);
    transform: translate(30px, 30px) rotate(-45deg);
  }
}


@media screen and (max-width: 700px) {
    // TODO span nav elements, adjust margins
    @scaling: 0.8;
    header {
      margin: 10% auto 0px auto;

      h1 {
        font-size: @h1-size * @scaling;
      }

      h2 {
        font-size: @h2-size * @scaling;
      }

      aside {
        font-size: @aside-size * @scaling;
      }

      nav {
        font-size: @nav-size * @scaling;
      }
    }
}

@media screen and (max-width: 550px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;

    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;

      h1 {
        text-align: center;
      }

      h2 {
        text-align: center;
      }

      aside {
        text-align: center;
      }
    }

    nav {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      .zero-edges;
    }
  }
}

@media screen and (min-resolution: 200dpi) and (orientation: portrait) {
  header {
    h1 {
      font-size: @h1-size * 1.3;
    }

    h2 {
      font-size: @h2-size * 1.5;
    }

    aside {
      font-size: @aside-size * 1.8;
    }
  }
  nav {
    font-size: @nav-size * 1.7;
    div {
      margin: 15px 65px 0 0;
    }
  }
}
