@min-width: 450px;
@hover-speed: 0.5s;
@page-width: 60%;
@page-serif: "Times New Roman";
@page-sans: Helvetica, sans-serif;

@header-h1-size: 5em;
@header-h2-size: 3em;
@header-aside-size: 2em;

@page-bottom-color: #6399B3;
@page-middle-color: #4572A7;
@page-top-color: #5A459E;
@page-background-color: linear-gradient(
    -190deg,
    @page-top-color,
    @page-middle-color,
    @page-bottom-color
);
@page-text-color: #ffffff;

@blog-color: #547794;
@twitter-color: #55acee;
@github-color: #6e5494;
@default-color: #666666;
